/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 767px) {
/* Styles */
.main-margin {
  padding: 50px;
}
  .modal {
    position: absolute;
    background-color: white;
    top: 50px;
    left: 0px;
    padding: 10px;
  }
  .drop-sm {
    margin-top: 20%;
  }
  .col-sm-1 {
    width: 100%;
  }
  .col-sm-2 {
    width: 49%;
  }
  .col-sm-4 {
    width: 24%;
  }
  .col-sm-3 {
    width: 32.5%;
  }
}

/* Smartphones (portrait) ----------- */
/* viewport size <= 320px ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
  .col-xs-1 {
    width: 100%;
  }
  .col-xs-2 {
    width: 50%;
  }
  .col-xs-4 {
    width: 25%;
  }
  .col-xs-3 {
    width: 33%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px)  {
/* Styles */
#details {
  width: 43% !important;
  float: right;
  padding: 10px !important;
  margin-left: 54.5% !important;
}
.main-margin {
  margin-left: 50px;
}
.modal {
  position: absolute;
  background-color: white;
  top: 20px;
  left: 35%;
  width: 30%;
}
.col-md-1 {
  width: 100%;
}
.col-md-2 {
  width: 42% !important;
  float: left !important;
}
.col-md-4 {
  width: 24%;
}
.col-md-3 {
  width: 32.5%;
}
.col-md-3-4 {
  width: 75%;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
  .col-lg-1 {
    width: 100%;
  }
  .col-lg-2 {
    width: 50%;
  }
  .col-lg-4 {
    width: 25%;
  }
  .col-lg-3 {
    width: 33%;
  }
}
/* .main-margin {
  margin-left: 50px !important;
} */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* .row:after {
  content: "";
  display: table;
  clear: both;
}
.col-md-1 {
  width: 100%;
}
.col-md-2 {
  width: 43% !important;
  float: left !important;
}
.col-md-4 {
  width: 24%;
}
.col-md-3 {
  width: 32.5%;
}
.col-md-3-4 {
  width: 75%;
} */